.footer__background {
  background-color: var(--primary);
}

.footer__container.container {
  padding-top: 40px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-bottom: 16px;
    justify-content: space-between;
  }

  .footer__container.container {
    padding-top: 64px;
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__container {
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .footer__container.container {
    padding-bottom: 16px;
  }
}

.footer__logo {
  fill: var(--primary-light);
}

.socials__list {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

@media screen and (min-width: 1440px) {
  .footer__container {
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .footer__left-wrap,
  .footer__right-wrap {
    width: auto;
    flex: 1;
  }

  .footer__title {
    width: 595px;
  }

  .subscribe__form {
    width: 352px;
  }
}

@media screen and (min-width: 768px) {
  .socials__list {
    margin-top: 32px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  outline: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: 10px;
  transition: all var(--transition-fast);
}

.socials__link:hover {
  background-color: #f4f4f4;
}

.socials__link:hover .socials__icon-footer {
  fill: #242424;
}

@media screen and (min-width: 768px) {
  .socials__link {
    width: 44px;
    height: 44px;
  }
}

.socials__icon-footer {
  fill: var(--primary-light);
  transition: fill var(--transition-fast);
}

@media screen and (min-width: 1440px) {
  .socials__link:hover .socials__icon-footer,
  .socials__link:focus .socials__icon-footer {
    fill: #242424;
  }
}

@media screen and (min-width: 768px) {
  .footer__right-wrap {
    width: 434px;
    margin-left: 114px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__right-wrap {
    display: flex;
    width: auto;
    gap: 115px;
    flex: 1;
  }
}

.footer__title {
  margin-top: 40px;
  color: var(--primary-light);
  font-size: 38px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: -0.76px;
}

@media screen and (min-width: 768px) {
  .footer__title {
    margin-top: 0px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: -1.12px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__title {
    width: 595px;
  }
}

.accent-text {
  font-style: italic;
}

.subscribe__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28px;
}

@media screen and (min-width: 768px) {
  .subscribe__form {
    margin-top: 40px;
    width: 352px;
    font-size: 16px;
    line-height: 1.5px;
  }
}

@media screen and (min-width: 1440px) {
  .subscribe__form {
    margin-top: 0px;
  }
}

.subscribe__form-title {
  margin-top: 20px;
  color: var(--primary-light);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .subscribe__form-title {
    margin-top: 0px;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .subscribe__form-title {
    margin-top: 0px;
  }
}

.subscribe__form-input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 30px;
  border: 1px solid var(--primary-light);
  background-color: var(--primary) !important;
  color: rgba(244, 244, 244, 0.6);
  transition: all var(--transition-fast);
}

.subscribe__form-input:focus {
  outline: none;
  border-color: orange;
}

/* .subscribe__form-input:invalid {
  border-color: #ee323d;
}

.subscribe__form-input:valid {
  border-color: #4dc274;
} */

@media screen and (min-width: 768px) {
  .subscribe__form-input {
    height: 48px;
  }
}

.subscribe__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  padding: 12px 0px;
  border-radius: 30px;
  background-color: var(--primary-light);
  border: none;
  font-size: 14px;
  line-height: 1.28px;
  color: var(--primary);
  transition: all var(--transition-fast);
}

.subscribe__form-btn:disabled {
  background-color: var(--primary-inactive);
}

@media screen and (min-width: 1440px) {
  .subscribe__form-btn:hover,
  .subscribe__form-btn:focus {
    border: 1px solid var(--primary-light);
    color: var(--primary-light);
    background-color: var(--primary);
  }
}

@media screen and (min-width: 768px) {
  .subscribe__form-btn {
    height: 48px;
    font-size: 16px;
    line-height: 1.5px;
  }
}

.footer__text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  color: var(--light-blue-gray);
  opacity: 0.9;
}

.footer__text-outer-wrap {
  margin-top: 120px;
}

@media screen and (min-width: 768px) {
  .footer__text-outer-wrap {
    display: flex;
    justify-content: space-between;
    width: 704px;
    gap: 78px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__text-outer-wrap {
    width: 100%;
    gap: 122px;
    margin-top: 70px;
  }
}

.footer__text-inner-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .footer__text-inner-wrap {
    margin-top: 0px;
    gap: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__text-inner-wrap {
    gap: 187px;
  }
}

.privacy-policy__text {
  display: flex;
  gap: 8px;
}

.footer__link {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__left-wrap,
.footer__right-wrap {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__left-wrap,
  .footer__right-wrap {
    width: auto;
    flex: 1;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .footer__left-wrap,
  .footer__right-wrap {
    width: auto;
    flex: 1;
  }

  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
