header {
  position: relative;
}

.header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}

.header-logo-img {
  max-width: none;
}

/* Оверлей, який блокує взаємодію з елементами */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Темний прозорий фон */
  z-index: 99; /* Поверх інших елементів, але під меню */
  display: none; /* Прихований за замовчуванням */
}

.overlay.open {
  display: block;
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 70px 20px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 210px;
  height: 100vh;
  background-color: var(--primary);
  color: var(--primary-light);
  transform: translateX(100%);
  transition: transform 0.25s ease;
  z-index: 100;
}

.header-mobile-menu.open {
  transform: translateX(0);
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-menu-link:hover {
  text-decoration: underline;
}

/* Стилі для кнопки бургер-меню */
.burger-menu-btn {
  margin-left: auto;
  display: block;
  background: none;
  cursor: pointer;
  border: none;
}

/* Стилі для кнопки закриття меню */
.close-menu-btn {
  /* margin: 28px 28px 0 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background: none;
  cursor: pointer;
  border: none;
}

.close-menu-icon {
  fill: var(--primary-light);
}

.header-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 1px;
}

.header-socials-links {
  fill: rgba(244, 244, 244, 0.8);
  display: flex;
  align-items: center;
  padding: 8px;
  transition: fill 0.25s ease, background 0.25s ease;
  border: solid 1px rgba(244, 244, 244, 0.1);
  border-radius: 10px;
}

.header-socials-links:hover {
  fill: var(--primary);
  background: var(--primary-light);
}

@media screen and (min-width: 768px) {
  .burger-menu-btn {
    display: none;
  }

  .close-menu-btn {
    display: none;
  }

  .header-mobile-menu,
  .header-mobile-menu.open {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    position: unset;
    padding: 0;
    transform: none;
    transition: none;
    background-color: transparent;
  }

  .header-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    width: 265px;
    margin: 0 auto;
    padding: 8px;
    background-color: var(--primary);
    border-radius: 60px;
    line-height: 150%;
  }

  .header-menu-list-item {
    display: flex;
    align-items: center;
  }

  .header-menu-link {
    display: block;
    padding: 6px 12px;
    border-radius: 30px;
    color: var(--primary-light);
  }

  .header-menu-link.active {
    background-color: var(--primary-light);
    color: var(--primary);
  }

  .header-menu-link:hover {
    text-decoration: none;
    background-color: var(--primary-light);
    color: var(--primary);
    transition: background-color 0.25s ease, color 0.25s ease;
  }

  .header-socials-links {
    fill: rgba(36, 36, 36, 0.8);
    border: 1px solid rgba(36, 36, 36, 0.1);
  }

  .header-socials-links:hover {
    fill: var(--primary-light);
    background: rgba(36, 36, 36, 0.8);
  }
}
