.scrollup-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 20px;
  background-color: rgba(18, 20, 23, 0.5);
  font-size: 0px;
  border: 1px solid rgba(244, 244, 244, 0.5);
  transition-property: border-color, background-color;
  transition-duration: 300ms;
  transition-timing-function: linear;

  @media (1440px<=width) {
    bottom: 24px;
    right: 24px;
    border-radius: 25px;
  }
}

.scrollup-btn:hover,
.scrollup-btn:focus {
  border-color: #0ceecc;
  background-color: rgba(18, 20, 23, 0.5);
}

.scrollup-btn:hover .scrollup-btn-icon,
.scrollup-btn:focus .scrollup-btn-icon {
  fill: #04ffee;
}

.scrollup-btn-icon {
  height: 40px;
  width: 40px;
  padding: 10px;
  fill: #f4f4f4;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: linear;

  @media (1440px<=width) {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
}
