<div class="favorites container">
  <h2 class="main-title">Favorites</h2>
  <div class="favorites-container">
    <div class="favorites-container-wrapper">
      <load src="/partials/quote.html" />
      <div class="favorites-container-static">
        <div class="favorites-container-static-daily-norm">
          <svg class="daily-norm-icon" width="20" height="20">
            <use href="/img/sprite.svg#icon-dumbbels"></use>
          </svg>
          <p class="daily-norm-title">110 min</p>
          <p class="daily-norm-text">Daily norm of sports</p>
        </div>
        <div class="favorites-container-static-image"></div>
      </div>
    </div>

    <ul class="favorites-container-list"></ul>
    <div class="pagination-section"></div>
  </div>
</div>
