<section class="filter-section">
  <div class="grid-container">
    <div class="main-wrapper">
      <h2 class="main-title">Exercises</h2>
      <nav class="main-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <button
              type="submit"
              class="nav-btn untreated decorated"
              data-filter="Muscles"
            >
              Muscles
            </button>
          </li>
          <li class="nav-item">
            <button
              type="submit"
              class="nav-btn untreated"
              data-filter="Body parts"
            >
              Body parts
            </button>
          </li>
          <li class="nav-item">
            <button
              type="submit"
              class="nav-btn untreated"
              data-filter="Equipment"
            >
              Equipment
            </button>
          </li>
        </ul>
      </nav>
    </div>

    <div class="filter-wrapper">
      <ul class="filter-list"></ul>
      <div class="filter-buttons"></div>
    </div>

    <div class="quote">
      <div class="quote-icon left-icon">
        <svg class="quote-icon" width="34" height="32">
          <use xlink:href="../img/sprite.svg#quote"></use>
        </svg>
      </div>
      <div class="quote-text-wrapper">
        <h2 class="quote-title">Quote of the day</h2>
      </div>
      <div class="quote-icon right-icon">
        <svg class="quote-icon-commas" width="20" height="20">
          <use xlink:href="../img/sprite.svg#commas"></use>
        </svg>
      </div>
    </div>

    <div class="womans-img">
      <img
        srcset="../img/filters/women.jpg 1x, ../img/filters/women@2x.jpg 2x"
        src="../img/filters/women.jpg"
        alt="Sport womans"
        width="444"
        height="242"
        loading="lazy"
      />
    </div>

    <div class="daily-time">
      <div class="daily-wrapper">
        <svg class="daily-icon" width="34" height="32">
          <use xlink:href="../img/sprite.svg#gym"></use>
        </svg>
      </div>
      <div class="daily-block">
        <h2 class="daily-title">110 min</h2>
        <p class="daily-subtitle">Daily norm of sports</p>
        <p class="daily-text"></p>
      </div>
    </div>
  </div>
</section>
