<section class="filter-section">
  <div class="grid-container container">
    <div class="main-wrapper">
      <h2 class="main-title">
        Exercises
        <span id="selected-category"></span>
      </h2>
      <div class="search-and-main-nav">
        <div id="search-container" class="hidden">
          <form id="search-form">
            <label class="search-label">
              <input type="text" id="search-input" placeholder="Search" />
            </label>
            <button type="submit" id="search-button">
              <svg class="burger-menu-icon" width="18" height="18">
                <use href="/img/sprite.svg#search"></use>
              </svg>
            </button>
          </form>
        </div>
        <nav class="main-nav">
          <ul class="nav-list">
            <li class="nav-item">
              <button
                type="submit"
                class="nav-btn untreated decorated"
                data-filter="Muscles"
              >
                Muscles
              </button>
            </li>
            <li class="nav-item">
              <button
                type="submit"
                class="nav-btn untreated"
                data-filter="Body parts"
              >
                Body parts
              </button>
            </li>
            <li class="nav-item">
              <button
                type="submit"
                class="nav-btn untreated"
                data-filter="Equipment"
              >
                Equipment
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="filter-wrapper">
      <ul class="filter-list"></ul>
      <div class="pagination-section"></div>
    </div>

    <div class="exercise-wrapper hidden">
      <div id="exercise-list"></div>
      <div id="loader" class="hidden">Loading...</div>
      <div id="pagination-container"></div>
    </div>

    <load src="partials/quote.html" />

    <div class="women-section">
      <picture class="women-picture">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/filters/women_des.jpg    1x,
            /img/filters/women_des@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/filters/women_pla.jpg    1x,
            /img/filters/women_pla@2x.jpg 2x
          "
        />
        <img
          srcset="
            /img/filters/women_mob.jpg    1x,
            /img/filters/women_mob@2x.jpg 2x
          "
          src="/img/filters/women_mob.jpg"
          alt="sport-women"
        />
      </picture>
    </div>

    <div class="daily-time">
      <div class="daily-wrapper">
        <svg class="daily-icon" width="34" height="32">
          <use xlink:href="/img/sprite.svg#gym"></use>
        </svg>
      </div>
      <div class="daily-block">
        <h2 class="daily-title">110 min</h2>
        <p class="daily-subtitle">Daily norm of sports</p>
        <p class="daily-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </p>
      </div>
    </div>
  </div>
</section>
