<footer class="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-logo-wrap">
        <a class="footer-logo-link" href="./index.html">
          <svg class="footer-logo-icon" width="132" height="24">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="footer-soc-link"
              href="https://www.facebook.com/goITclub/"
            >
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="footer-soc-link"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              rel="noopener noreferrer"
              target="_blank"
              class="footer-soc-link"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg class="footer-soc-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-title-wrapper">
        <h2 class="footer-title">
          Transforming your <span class="footer-title-span">body</span> shape
          with us
        </h2>
        <form class="footer-form">
          <p class="footer-form-title">
            Subscribe and learn about new exercises!
          </p>
          <input
            type="email"
            name="email"
            placeholder="Email"
            id="emailInput"
            required
          />
          <button class="footer-form-btn" type="submit">Send</button>
        </form>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="copyright-wrapper">
        <span class="copyright-text">Your Energy. All rights reserved.</span>
        <div class="copyright-list">
          <a href="./index.html" class="copyright-link">Privacy Policy</a>
          <span class="copyright-span"> / </span>
          <a href="./index.html" class="copyright-link">Terms of Service</a>
        </div>
      </div>
      <span class="copyright-year">©2023</span>
    </div>
  </div>
</footer>
