<section class="hero-section">
  <div class="container">
    <div class="hero-content">
      <div class="hero__left-block">
        <h1 class="hero__title">
          <svg class="hero__star" width="132" height="24" aria-label="hero icon">
            <use href="./img/sprite.svg#hero-star"></use>
          </svg>
          Get <i>Body</i> in shape, Stay healthy
        </h1>
        <p class="hero__text">
          Transform your physique and embrace a healthier lifestyle with our
          comprehensive fitness and nutrition support.
        </p>
      </div>
      <div class="hero__right-block">
        <div class="hero__women-fitness">
          <picture class="women-images">
            <img
              srcset="
                /img/hero/women__fitness.jpg    1x,
                /img/hero/women__fitness@2x.jpg 2x
              "
              src="/img/hero/women__fitness.jpg"
              alt="women-fitness"
            />
          </picture>
        </div>
        <div class="hero__teg-buttons__up">
          <button class="hero__teg-button">#Sport</button>
          <button class="hero__teg-button">#Healthy</button>
          <button class="hero__teg-button">#Workout</button>
          <button class="hero__teg-button">#Diet</button>
        </div>
      </div>
    </div>

    <div class="hero__women-images">
      <picture class="women-images">
        <source
          media="(min-width: 1440px)"
          srcset="/img/hero/women__desc.jpg 1x, /img/hero/women__desc@2x.jpg 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/hero/women__tab.jpg 1x, /img/hero/women__tab@2x.jpg 2x"
        />
        <img
          srcset="/img/hero/women__mob.jpg 1x, /img/hero/women__mob@2x.jpg 2x"
          src="/img/hero/women__mob.jpg"
          alt="sport-women"
        />
      </picture>
    </div>
    <div class="hero__teg-buttons__bottom">
      <button class="hero__teg-button">#Sport</button>
      <button class="hero__teg-button">#Healthy</button>
      <button class="hero__teg-button">#Workout</button>
      <button class="hero__teg-button">#Diet</button>
    </div>
  </div>
</section>
