.category__selected {
  font-size: 20px;
  font-family: var(--main-font-family);
  color: rgba(36, 36, 36, 0.5);
}

.exercise-card-wrapper {
  display: flex;
  align-items: center;
}

.exercise-card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.exercise-card-workout {
  text-transform: uppercase;
  font-size: 12px;
  font-family: var(--main-font-family);
  color: var(--primary);
  display: inline-block;
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid var(--primary);
  margin-right: 16px;
}

.exercize-icon-star {
  fill: #eea10c;
  margin-right: 117px;
}

.exercise-card-ret {
  font-size: 12px;
  font-family: var(--main-font-family);
  line-height: 150%;
}

.exercise-wrapper {
  width: 100%;
}

#exercise-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}

.exercise-card {
  padding: 16px;
  background: #fff;
  border-radius: 15px;
  width: 100%;
}

.start-btn {
  display: flex;
  border: none;
  background: none;
  padding: 0;
  font-size: 14px;
  display: flex;
}

.exercize-icon-arrow {
  margin-left: 8px;
  stroke: currentColor;
  pointer-events: none;
}

.exercise-card-name {
  display: flex;
}

.exercize-icon-cross {
  margin-right: 16px;
}

.exercise-card-name-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  max-width: 250px;
}

.exercise-card-name {
  margin-bottom: 16px;
}

.exercise-card-info {
  display: flex;
  gap: 10px;
  text-transform: capitalize;
}

.exercise-card-info-cal {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-family: var(--main-font-family);
  max-width: 129px;
}
.exercise-card-info-body {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-family: var(--main-font-family);
  max-width: 90px;
}
.exercise-card-info-terget {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  font-family: var(--main-font-family);
  max-width: 90px;
}

#pagination-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.pagination-btn {
  border: none;
  font-size: 20px;
  color: #d4d4d4;
}
.pagination-current {
  color: var(--primary);
  border: 1px var(--primary) solid;
  border-radius: 50%;
  display: inline-block;
  width: 31px;
  height: 31px;
}

@media only screen and (min-width: 768px) {
  #exercise-list {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
  }

  .exercise-card {
    width: calc((100% - 16px) / 2);
  }

  .exercise-card-name-title {
    font-size: 24px;
  }
  .exercise-card-name {
    margin-bottom: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .exercise-wrapper {
    display: flex;
    flex-direction: column;
    grid-area: filter;
  }

  #exercise-list {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.exercises-card-span {
  opacity: 40%;
}
