.favorites.container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.favorites .main-title {
  margin-bottom: 1.5rem;
}

.favorites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.favorites-container-wrapper .quote {
  width: 100%;
  margin-top: 0;
}

.favorites-container-static {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.favorites-container-quote {
  background-color: #242424;
  padding: 20px;
  border-radius: 20px;
}

.favorites-container-quote-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: flex-start;
}

.quote-icon-wrapper {
  border-radius: 100%;
  background-color: rgba(244, 244, 244, 0.2);
  padding: 6px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-icon-wrapper-icon {
  fill: white;
}

.quote-content {
  display: flex;
  flex-direction: column;
}

.quote-content-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content-title-wrapper-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #f4f4f4;
}

.quote-content-title-icon {
  fill: #f4f4f4;
}

.quote-content-text {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(244, 244, 244, 0.6);
}

.quote-content-author {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #f4f4f4;
}

.favorites-container-static-daily-norm {
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.daily-norm-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #242424;
  margin-top: 15px;
}

.daily-norm-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: rgba(36, 36, 36, 0.6);
  margin-top: 6px;
}

.favorites-container-static-image {
  background-image: url('../img/favorites/Image-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 119px;
}

.favorites-container-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.favorites-container-list-item {
  display: flex;
  flex-direction: column;

  border-radius: 20px;
  background-color: #fff;
  padding: 16px;
  width: 100%;
}

.list-item-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.list-item-header-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.list-item-header-text {
  font-weight: 500;
  font-size: 12px;
  color: #242424;
  padding: 5px 8px;
  border: 1px solid #242424;
  border-radius: 15px;
}

.list-item-header-icon {
  fill: #fff;
  stroke: black;
  justify-self: flex-start;
}

.list-item-header-button-delete,
.list-item-header-button-start {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: none;
  background-color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #242424;
  padding: 0;
  cursor: pointer;
}

.list-item-header-button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #242424;
}

.list-item-header-button-icon {
  stroke: #242424;
}

.list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 25px;
}

.item-content-text {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.item-content-icon-wrapper {
  background-color: #242424;
  border-radius: 100%;
  padding: 4px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-content-icon {
  fill: #f4f4f4;
}

.list-item-footer {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  margin-top: 16px;
  gap: 10px;
}

.item-footer-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(36, 36, 36, 0.4);

  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.item-footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #242424;
}

.favorites-container-empty {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #242424;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .favorites.container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .favorites-container-wrapper {
    gap: 16px;
    margin-bottom: 64px;
  }

  .favorites-container-quote {
    padding: 40px;
  }

  .content-title-wrapper-title {
    font-size: 24px;
    line-height: 133%;
  }

  .quote-content-text {
    margin-top: 6px;
  }

  .quote-content-author {
    line-height: 150%;
    font-size: 16px;
    margin-top: 18px;
  }

  .favorites-container-static {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .favorites-container-static-daily-norm {
    padding: 25px;
    width: calc((100% - 16px) / 2);
  }

  .daily-norm-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
  }

  .favorites-container-static-image {
    width: 344px;
    height: 141px;
  }

  .favorites-container-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px 16px;
  }

  .favorites-container-list-item {
    width: calc((100% - 16px) / 2);
    max-width: 344px;
  }

  .item-content-text {
    font-size: 24px;
    line-height: 133%;
  }

  .favorites-container-empty {
    margin-top: 114px;
    max-width: 554px;
    width: 100%;
    line-height: 133%;
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .favorites.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .favorites-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }

  .favorites-container-wrapper {
    max-width: 494px;
  }

  .favorites-container-quote-wrapper {
    gap: 16px;
  }

  .favorites-container-static-image {
    width: 239px;
    height: 141px;
  }

  .favorites-container-list {
    max-height: 470px;
    overflow-y: auto;
  }

  .favorites-container-list-item {
    max-width: 405px;
  }
}

@media screen and (min-resolution: 192dpi) {
  .daily-sport-image {
    background-image: url('../img/favorites/Image-mobile@2x.jpg');
  }
}
