.untreated {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.filter-section {
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .filter-section {
    padding-bottom: 84px;
  }
}

@media only screen and (min-width: 1440px) {
  .filter-section {
    padding-bottom: 132px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.main-title {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 400;
}

.search-and-main-nav {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 20px;
}

#search-container {
  width: 100%;
  max-width: 100%;
}

#search-form {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #242424;
  border-radius: 30px;
  padding: 12px;
  justify-content: space-around;
}

#search-input {
  width: 100%;
  height: 24px;
  outline: transparent;
  border: none;
  background-color: transparent;
}

#search-input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #242424;
}

#search-form #search-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

#search-form #search-button svg {
  fill: transparent;
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 44px;
    margin-bottom: 32px;
  }

  .search-and-main-nav {
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 0;
  }

  #search-container {
    max-width: 273px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-title {
    margin-bottom: 0;
  }

  .search-and-main-nav {
    margin-bottom: 0;
    justify-content: flex-end;
  }
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-btn {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .nav-btn {
    font-size: 16px;
  }
}

.decorated::after {
  content: '';
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary);
  margin-top: 4px;
}

.filter-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .filter-list {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .filter-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .filter-item {
    max-height: 242px;
  }
}

.filter-container {
  position: relative;
  display: inline-block;
}

.filter-img {
  border-radius: 12px;
  transition-property: transform;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover {
  cursor: pointer;
}

.filter-btn:hover .filter-img,
.filter-btn:focus .filter-img {
  transform: scale(1.05);
}

.filter-btn:hover .filter-overlay,
.filter-btn:focus .filter-overlay {
  transform: scale(1.05);
}

@media only screen and (min-width: 1440px) {
  .filter-img {
    height: 242px;
  }
}

.filter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  transition-property: transform;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-light);
  font-size: 20px;
  text-transform: capitalize;
  white-space: nowrap;
}

.filter-filter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-light);
  opacity: 40%;
  font-size: 12px;
  text-transform: capitalize;
}

.pagination-section {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}

.pagination-btn {
  width: 12px;
  height: 20px;
  background-color: transparent;
  color: var(--primary-disabled);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-btn.active {
  width: 31px;
  height: 31px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .pagination-section {
    margin-top: 32px;
  }

  .pagination-btn {
    font-size: 24px;
    width: 14px;
    height: 32px;
  }

  .pagination-btn.active {
    width: 32px;
    height: 32px;
  }
}

.quote {
  background-color: var(--primary);
  color: var(--primary-light);
  position: relative;
  border-radius: 20px;
  display: flex;
  margin-top: 80px;
}

.quote-icon.left-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.quote-icon.right-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.quote-text-wrapper {
  padding: 20px 20px 20px 72px;
}

.quote-title {
  font-size: 20px;
}

.quote-text {
  margin-top: 8px;
  opacity: 60%;
  font-size: 14px;
}

.quote-author {
  margin-top: 16px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .quote-title {
    font-size: 24px;
  }

  .quote-icon.left-icon {
    top: 40px;
    left: 40px;
  }

  .quote-icon.right-icon {
    top: 40px;
    right: 40px;
  }

  .quote-text-wrapper {
    padding: 40px 40px 40px 90px;
  }
}

.women-section {
  margin-top: 20px;
}

.women-picture > img {
  width: 444px;
  border-radius: 20px;
}

.daily-time {
  display: flex;
  margin-top: 20px;
  min-height: 201px;
  border-radius: 20px;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .daily-time {
    min-height: 249px;
  }
}

.daily-wrapper {
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 16px;
}

.daily-block {
  padding: 20px 20px 20px 0;
}

.daily-title {
  font-size: 20px;
}

.daily-subtitle {
  font-size: 14px;
  opacity: 60%;
  margin-top: 2px;
}

.daily-text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.125rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@media only screen and (min-width: 768px) {
  .daily-wrapper {
    padding-left: 40px;
    padding-top: 41px;
  }

  .daily-block {
    padding: 40px 40px 40px 0;
  }

  .daily-text {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .daily-text {
    overflow: visible;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 400px 305px;
    grid-template-areas:
      'title title'
      'filter filter'
      'quote womans'
      'daily .';
  }

  .main-wrapper {
    grid-area: title;
  }

  .filter-wrapper {
    grid-area: filter;
  }

  .quote {
    grid-area: quote;
    margin-top: 64px;
  }

  .women-section {
    grid-area: womans;
    margin-top: 64px;
    margin-left: 16px;
  }

  .daily-time {
    grid-area: daily;
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .grid-container {
    grid-template-columns: minmax(300px, 444px) 1fr;
    grid-template-areas:
      'title title'
      'quote filter'
      'womans filter'
      'daily filter'
      '. filter';
    column-gap: 32px;
    row-gap: 32px;
  }

  .main-wrapper {
    grid-area: title;
    flex-direction: row;
  }

  .filter-wrapper {
    grid-area: filter;
  }

  .quote {
    grid-area: quote;
    margin-top: 0;
  }

  .women-section {
    grid-area: womans;
    margin: 0;
  }

  .daily-time {
    grid-area: daily;
    margin: 0;
  }
}
