.untreated {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 335px;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.main-title {
  margin-bottom: 20px;
  font-size: 28px;
}

.main-nav {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 44px;
    margin-bottom: 32px;
  }

  .main-nav {
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    margin-bottom: 0;
  }

  .main-title {
    margin-bottom: 0;
  }
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-btn {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .nav-btn {
    font-size: 16px;
  }
}

.decorated::after {
  content: '';
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary);
  margin-top: 4px;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-buttons {
  margin-top: 32px;
}

.filter-list {
  display: grid;
  grid-template-columns: 335px;
  row-gap: 20px;
}

@media only screen and (min-width: 768px) {
  .filter-list {
    grid-template-columns: repeat(3, 225px);
    column-gap: 15px;
    row-gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .filter-list {
    grid-template-columns: repeat(3, 290px);
  }
}

.filter-container {
  position: relative;
  display: inline-block;
}

.filter-img {
  border-radius: 12px;
}

@media only screen and (min-width: 1440px) {
  .filter-img {
    height: 242px;
  }
}

.filter-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.filter-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-light);
  font-size: 20px;
  text-transform: capitalize;
  white-space: nowrap;
}

.filter-filter {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-light);
  opacity: 40%;
  font-size: 12px;
  text-transform: capitalize;
}

.filter-buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  width: 12px;
  height: 20px;
  background-color: transparent;
  color: var(--primary-disabled);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-btn.active {
  width: 31px;
  height: 31px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  color: var(--primary);
}

@media only screen and (min-width: 768px) {
  .pagination-btn {
    font-size: 24px;
    width: 14px;
    height: 32px;
  }

  .pagination-btn.active {
    width: 32px;
    height: 32px;
  }
}

.quote {
  background-color: var(--primary);
  color: var(--primary-light);
  position: relative;
  border-radius: 20px;
  display: flex;
  min-height: 209px;
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  .quote {
    min-height: 249px;
  }
}

@media only screen and (min-width: 1440px) {
  .quote {
    min-height: 242px;
  }
}

.quote-icon.left-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.quote-icon.right-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.quote-text-wrapper {
  padding: 20px 20px 20px 72px;
}

.quote-title {
  font-size: 20px;
}

.quote-text {
  margin-top: 8px;
  opacity: 60%;
  font-size: 14px;
}

.quote-author {
  margin-top: 16px;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .quote-title {
    font-size: 24px;
  }

  .quote-icon.left-icon {
    top: 40px;
    left: 40px;
  }

  .quote-icon.right-icon {
    top: 40px;
    right: 40px;
  }

  .quote-text-wrapper {
    padding: 40px 40px 40px 90px;
  }
}

.womans-img {
  margin-top: 20px;
}

.womans-img > img {
  width: 444px;
  border-radius: 20px;
}

.daily-time {
  display: flex;
  margin-top: 20px;
  min-height: 201px;
  border-radius: 20px;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .daily-time {
    min-height: 249px;
  }
}

.daily-wrapper {
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 16px;
}

.daily-block {
  padding: 20px 20px 20px 0;
}

.daily-title {
  font-size: 20px;
}

.daily-subtitle {
  font-size: 14px;
  opacity: 60%;
  margin-top: 2px;
}

.daily-text {
  margin-top: 16px;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@media only screen and (min-width: 768px) {
  .daily-wrapper {
    padding-left: 40px;
    padding-top: 41px;
  }

  .daily-block {
    padding: 40px 40px 40px 0;
  }

  .daily-text {
    margin-top: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}

@media only screen and (min-width: 1440px) {
  .daily-text {
    overflow: visible;
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 400px 305px;
    grid-template-areas:
      'title title'
      'filter filter'
      'quote womans'
      'daily .';
  }

  .main-wrapper {
    grid-area: title;
  }

  .filter-wrapper {
    grid-area: filter;
  }

  .quote {
    grid-area: quote;
    margin-top: 64px;
  }

  .womans-img {
    grid-area: womans;
    margin-top: 64px;
    margin-left: 16px;
  }

  .daily-time {
    grid-area: daily;
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .grid-container {
    grid-template-columns: minmax(300px, 444px) 1fr;
    grid-template-areas:
      'title title'
      'quote filter'
      'womans filter'
      'daily filter'
      '. filter';
    column-gap: 32px;
    row-gap: 32px;
  }

  .main-wrapper {
    grid-area: title;
    flex-direction: row;
  }

  .filter-wrapper {
    grid-area: filter;
  }

  .quote {
    grid-area: quote;
    margin-top: 0;
  }

  .womans-img {
    grid-area: womans;
    margin: 0;
  }

  .daily-time {
    grid-area: daily;
    margin: 0;
  }
}
