.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.6s ease-out;
}
.modal-closing {
  background-color: rgba(0, 0, 0, 0);
}
.modal-content {
  background-color: #242424;
  padding: 0 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 335px;
  color: white;
  animation: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content.dispersing {
  animation: disperse 0.6s forwards;
}

@keyframes disperse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    filter: blur(0px);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
    filter: blur(20px);
  }
}
.current-rating {
  font-size: 12px;
}

.close {
  color: rgba(244, 244, 244);
  float: right;
  font-size: 24px;
  margin-top: 5px;
  margin-right: -8px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.rating-title {
  text-align: start;
  font-size: 12px;
  padding-top: 40px;
  margin-bottom: 8px;
  color: rgba(244, 244, 244, 0.4);
}

.rating-value {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 18px;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10px;
}

.stars input[type='radio'] {
  display: none;
}

.stars label {
  font-size: 18px;
  color: gray;
  cursor: pointer;
}

.stars label:hover,
.stars label:hover ~ label,
.stars input[type='radio']:checked ~ label {
  color: gold;
}

.stars input[type='radio']:checked + label,
.stars input[type='radio']:checked + label ~ label {
  color: gold;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-email {
  width: 100%;
  padding: 6px;
  border-radius: 40px;
  border: 1px solid #ccc;
  background-color: #444;
  color: rgba(244, 244, 244, 0.6);
  font-size: 12px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.input-group textarea {
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #444;
  color: white;
  font-size: 14px;
  resize: none;
  height: 100px;
}

.submit-btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  color: rgb(36, 36, 36);
  font-size: 14px;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 40px;
}

.submit-btn:hover {
  background-color: #ddd;
}

.exercise-title {
  font-size: 14px;
  padding-top: 20px;
}

.exercise-description {
  font-size: 12px;
  padding-bottom: 20px;
}

/* Tablet view (>= 768px) */
@media (min-width: 768px) {
  .modal-content {
    width: 430px;
    padding: 0 40px;
  }
  .close {
    margin-right: -24px;
  }

  .rating-title {
    font-size: 14px;
    padding-top: 40px;
  }

  .rating-value {
    font-size: 20px;
  }

  .stars label {
    font-size: 20px;
  }

  .input-group label {
    font-size: 16px;
  }

  .input-email,
  .input-group textarea {
    font-size: 16px;
    padding: 8px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 10px;
  }
}

/* Desktop view (>= 1024px) */
@media (min-width: 1024px) {
  .modal-content {
    width: 80%;
    max-width: 430px;
  }

  .rating-title {
    font-size: 16px;
    padding-top: 40px;
  }

  .rating-value {
    font-size: 24px;
  }

  .stars label {
    font-size: 24px;
  }

  .input-group label {
    font-size: 16px;
  }

  .input-email,
  .input-group textarea {
    font-size: 16px;
    padding: 10px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 12px;
  }
}
