@import 'modern-normalize/modern-normalize.css';
@import 'izitoast/dist/css/iziToast.min.css';
@import './font.css';
@import './variables.css';
@import './reset.css';
@import './layout/header.css';
@import './layout/footer.css';
@import './layout/up-btn.css';
@import './filters.css';
@import './rating.css';
@import './dialog.css';
@import './exercises.css';
@import './hero.css';
@import './favorites.css';

body {
  font-family: var(--main-font-family);
  font-size: 16px;
  color: var(--primary);
  background-color: var(--primary-light);
  line-height: 1.125;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

.container {
  width: 100%;
  max-width: calc(var(--container-max-width) + var(--main-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--main-padding);
}

.section {
  padding-bottom: 80px;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: transparent;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  opacity: 0 !important;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 150px;
  }
}
