@import 'modern-normalize/modern-normalize.css';
@import './font.css';
@import './variables.css';
@import './reset.css';
@import './header.css';

body {
  font-family: 'DMSans', sans-serif;
  font-size: 16px;
  color: var(--primary);
  background-color: var(--primary-light);
  line-height: 1.125;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--main-padding);
}

.hidden {
  display: none;
}
