/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
@import './font.css';
@import './variables.css';




@import url('./reset.css');
@import url('./layout/footer.css');
@import url('./layout/up_btn.css');

/* cross-browser normalization */
@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css');


body {
  font-family: 'DMSans', sans-serif;
  font-size: 16px;
  color: var(--primary);
  background-color: var(--primary-light);
  line-height: 1.125;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--main-padding);
}



.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: transparent;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  opacity: 0 !important;
}

