:root {
  --primary: #242424;  /** texts on libgt bg, bgs */
	--primary-disabled: rgba(36, 36, 36, .1);  /** disabled pagination btns ... */
	--primary-inactive: #D4D4D4; /** inactive pages ... */
	--primary-light: #F4F4F4; /** light bg, text color on dark bg */
	--primary-light-inactive: rgba(244, 244, 244, .2); /** not selected star */
	--gold: #EEA10C; /** selected star */

	/* Borders */
	--border-radius-lg: 30px;
	--border-radius-md: 20px;
	--border-radius-sm: 12px;

	/* Spaces */
	--main-padding: 1.25rem;

	/* Transition */
	--transition: 300ms linear;

	/* Breackpoints */
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1440px;
	--container-max-width: 335px;
}

@media screen and (min-width: 768px) {
	:root {
		--main-padding: 1rem;
		--container-max-width: 704px;
	}
}

@media screen and (min-width: 1440px) {
	:root {
		--container-max-width: 1376px;
	}
}
